.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-video-settings {
  .media {
    position: relative;
    margin-top: 1.5rem;
  }

  .preview {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba($md-white, .6);
    color: $md-black-100;
  }
}
