.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-tabs {
  .tabs-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 1.5rem 1.375rem;

    .tab {
      &.active > button {
        color: var(--wxc-tab--active--color);
        background: var(--wxc-tab--active--background);
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      button {
        background: var(--wxc-tab--normal--background);
        border: none;
        cursor: pointer;
        font-family: $brand-font-bold;
        font-size: 0.875rem;
        line-height: 1.375rem;
        padding: 0.1875rem 1rem;
        color: var(--wxc-tab--normal--color);
        border-radius: 0.875rem;

        &:hover {
          color: var(--wxc-tab--hover--color);
          background: var(--wxc-tab--hover--background);
        }

        &:active {
          color: var(--wxc-tab--active--color);
          background: var(--wxc-tab--active--background);
        }
      }
    }
  }

  .tabs-content {
    padding: 0 1.375rem;
  }
}
