$C:#{$WEBEX_COMPONENTS_CLASS_PREFIX}-search-people;

.#{$C} {
    min-width: 300px;
    max-width: 450px;
    width: 450px;
    color: var(--wxc-text-color);
    margin-top: 20px;

    .#{$C}__people-list-box {
        background: var(--wxc-options-list--normal--background);
        width: auto;
        max-height: 105px;
        overflow-y: auto;
        border: 0.0625rem solid #CCCCCC;
        border-radius: 0.5rem;
        margin-top: 8px;
        stroke-width: 1px;
        transition: box-shadow 0.15s ease-out;
        text-align: left;

        .#{$C}__people-added {
            background: var(--wxc-primary-background);
            box-shadow: var(--wxc-box-shadow);
            display: inline-block;
            font-size: 12px;
            border-radius: 30px;
            height: 24px;
            padding: 0 4px 0 1rem;
            display: inline-flex;
            align-items: center;
            margin: 0.3rem;

            .#{$C}__people-added-content {
                padding-right: 5px;
            }
        }

        .#{$C}__input {
            border: none;
        }
    }   

    .#{$C}__suggestions {
        height:200px;
        width:auto;
        overflow-y: auto;

        .#{$C}__suggestions-list {
            display: flex;

            .#{$C}__avatar {
                width: 2.5rem;
                height: auto;
                border-radius: 20px;
            }

            .#{$C}__data {
                padding-left: 10px;
                text-align: left;
            }

            .#{$C}__list-selected {
                color: var(--wxc-options-list--checked-icon--color);
                flex:1;
                text-align: end;
            }
        }

        .#{$C}__list-heading {
            padding: 5px;
            border-bottom: 1px solid grey;
            background: var(--wxc-options-list--normal--background);
            text-align: left;
        }

        .#{$C}__search-error {
            font-size: 12px;
            padding: 10px;
            color: grey;
            background: var(--wxc-options-list--normal--background);
            text-align: center;
        }
    }  

    .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-input-field__input {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    } 

    .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-options-list {
        border-radius: 0;
    }
}