$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-activity-attachment;

// Light theme colors
$attachment-background: var(--wxc-input-field--active--background);
$attachment-focus-background: rgba(0, 0, 0, 0.11);
$attachment-press-background: rgba(0, 0, 0, 0.3);
$attachment-hover-background: rgba(0, 0, 0, 0.2);
$attachment-border: 2px solid var(--wxc-button--ghost--active--background);

// Dark theme colors
$attachment-border-dark: 4px solid rgba(255, 255, 255, 0.2);

$attachment-toolbar-background: rgba(0, 0, 0, 0.8);

$attachment-icon-background: #1170cf;

$attachment-label-color:  var(--wxc-badge-text-color);
$attachment-label-background:  var(--wxc-secondary-video-background);
$attachment-label-border: 1px solid var(--wxc-secondary-text-color);

$image-max-height: 180px;
$image-max-width: 320px;

.#{$C} {
    background: $attachment-background;
    border: $attachment-border;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    margin: .5rem 0;
    position: relative;
    &:hover {
      background: $attachment-hover-background;
   }
    &:active {
      background: $attachment-press-background;
   }

   &__error {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--wxc-secondary-text-color);
      .wxc-icon {
         margin-bottom: .5rem;
      }
   }

   &__spinner {
      position: absolute !important;
   }

   &__icon {
      background: #1170cf;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      width: 64px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;;
   }

   &__content {
      display: flex;
      flex-direction: column;
      //padding: 0.3rem;
      flex: 1;
      width: $image-max-width;
      
      align-items: center;
      justify-content: center;
      height: $image-max-height;

      img {
         width: 100%;
      }

      &-name {
         color: var(--wxc-text-color);
      }
      &-size {
         color: var(--wxc-secondary-text-color);
      }
   }

   &__action {
      cursor: pointer;
      display: flex;
      align-content: center;
      align-items: center;
      width: 40px;
   }

   &__label {
      background: $attachment-label-background;
      text-transform: uppercase;
      padding: 0.2rem 0.4rem;
      line-height: 14px;
      position: absolute;
      color: $attachment-label-color;
      font-size: 0.8rem;
      top: 5px;
      right: 5px;
      border: $attachment-label-border;
      box-sizing: border-box;
      border-radius: 4px;
   }

   &__toolbar {
      min-height: 50px;
      background: $attachment-toolbar-background;
      //border-radius: 0px 0px 8px 8px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      padding: 4px 12px;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.2s linear;
      justify-content: space-between;
      align-items: center;
      
      > span {
         padding: 0.2rem 0;
         &:first-child {
            font-weight: bold;
         }
      }
   }

   &:hover {
      .#{$C}__toolbar {
         opacity: 1;
      }
   }

   &--images {
      .#{$C}__content {
         padding: 0;
      }
      img {
         max-height: 220px;
      }
   }

   &--video {
      video {
         width: 100%;
      }
   }

   &--file {
      .#{$C}__content {
         height: auto;
         align-items: flex-start;
         padding-left: 1rem;
      }
      
   }
 }
 