.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-title {
    color: var(--wxc-text-color);
    line-height: 150%;
    margin: 1.25rem 0 0.25rem;
    font-weight: normal;

    &--section {
        font-family: $brand-font-bold;
    }

    &--subsection {
        font-family: $brand-font-medium;
    }
}
