{
  "parser": "babel-eslint",
  "extends": [
    "@webex/eslint-config-react",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "expect": true,
    "waitForAsync": true,
    "intl": true,
    "shallowWithIntl": true,
    "mountWithIntl": true,
    "renderWithIntl": true,
    "shallow": true,
    "render": true,
    "mount": true
  },
  "rules": {
    "arrow-body-style": [
      "error",
      "as-needed",
      {
        "requireReturnForObjectLiteral": false
      }
    ],
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": false,
        "allowUnboundThis": true
      }
    ],
    "no-confusing-arrow": [
      "error"
    ],
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/media-has-caption": 0,
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "draft"
        ]
      }
    ],
    "require-jsdoc": "off",
    "default-case": 0,
    "no-warning-comments": 0,
    "import/no-unresolved": 2,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "class-methods-use-this": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  }
}
