{
  "parser": "babel-eslint",
  "extends": [
    "@webex/eslint-config-react",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": ["react", "jsx-a11y", "import", "prettier", "react-hooks", "jest"],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "expect": true,
    "shallow": true,
    "rxjs": true
  },
  "rules": {
    "arrow-body-style": [
      "error",
      "as-needed",
      {
        "requireReturnForObjectLiteral": false
      }
    ],
    "class-methods-use-this": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "default-case": 0,
    "import/no-unresolved": 2,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "jest/prefer-hooks-on-top": "error",
    "jsx-a11y/media-has-caption": 0,
    "jsx-a11y/no-autofocus": 0,
    "no-confusing-arrow": ["error"],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["draft"]
      }
    ],
    "no-warning-comments": 0,
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": false,
        "allowUnboundThis": true
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "array": true,
        "object": true
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "require-jsdoc": "warn"
  }
}
