$brand-font-folder: 'node_modules/@momentum-ui/core/fonts';
$icon-font-path: 'node_modules/@momentum-ui/icons/fonts';
$images-path: 'node_modules/@momentum-ui/core/images';

@import 'node_modules/@momentum-ui/core/scss/momentum-ui';
