.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-options-list {
  border: var(--wxc-options-list--normal--border);
  border-radius: 0.75rem;
  box-shadow: var(--wxc-box-shadow);
  background: var(--wxc-options-list--normal--background);
  color: var(--wxc-text-color);
  padding: 0.5rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: var(--wxc-text-color);

      .label {
        flex: 1;
        display: block;
        font-size: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .check {
        color: var(--wxc-options-list-item--selected--color);
      }

      &:hover {
        background: var(--wxc-options-list-item--hover--background);
      }

      &:active {
        background: var(--wxc-options-list-item--active--background);
        box-shadow: var(--wxc-options-list--normal--box-shadow);
      }

      &:focus {
        box-shadow: var(--wxc-options-list-item--focus--box-shadow);
      }
    }
  }
}

