$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-meeting-host-authentication;

.#{$C} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  color: var(--wxc-text-color);
  line-height: 1.375rem;

  .#{$C}__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    .#{$C}__logo {
      background: var(--wxc-auth-logo) no-repeat center;
      width: 3.689rem;
      height: 2.625rem;
      margin-bottom: 1.25rem;
    }

    .#{$C}__title {
      font-size: 1.25rem;
      line-height: 1.875rem;
    }
  }

  .#{$C}__form-content {
    display: flex;
    flex-direction: column;
    width: 17.625rem;

    .#{$C}__label {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .#{$C}__label-text {
        padding-left: 0.75rem;
        margin-bottom: 0.25rem;
      }
    }

    .#{$C}__start-button-spinner {
      margin-right: 0.5rem;
    }
  }
}
