$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-greeting;

.#{$C} {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 37.5rem;
  text-align: center;
  color: var(--wxc-text-color);
  margin: 0 auto;
  margin-top: 6.25rem;

  &--desktop {
    margin-top: 11.25rem;
  }

  .#{$C}__title {
    font-size: 1.252rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .#{$C}__description {
    color: var(--wxc-greeting--description--text-color)
  }
}
