.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-greeting {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 37.5rem;
  text-align: center;
  color: var(--wxc-text-color);

  .greeting-header {
    @include header-fonts;
  }

  .greeting-description {
    @include body-fonts;
    padding: 0 3.125rem;
  }
}
