$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-greeting;

.#{$C} {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 37.5rem;
  text-align: center;
  color: var(--wxc-text-color);

  .#{$C}__description {
    padding: 0 3.125rem;
  }
}
