.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-time-ruler {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: $wxc-gray-20;
  width: 100%;
  padding: 0 3rem;
  margin: 0.5rem 0;

  &::after, &::before {
    border-top: 0.06rem solid currentColor;
    content: '';
    flex: 1 1 auto;
  }
}
