// For Storybook, so that activity stream loads content properly
#root {
  height: 100%;
}

.activity-stream {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &-loader {
    position: relative;
    width: 10px;
    height: 10px;
    margin: 1rem auto;
    border-radius: 5px;
    background-color: $md-gray-30;
    color: $md-gray-30;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
  }

  &-loader::before, &-loader::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }

  &-loader::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $md-gray-30;
    color: $md-gray-30;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }

  &-loader::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $md-gray-30;
    color: $md-gray-30;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }

  @keyframes dotFlashing {
    0% {
      background-color: $md-gray-30;
    }
    50%,
    100% {
      background-color: $md-gray-10;
    }
  }
}

.greeting {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 37.5rem;
  text-align: center;
  color: $gray-dark-3;

  .greeting-header {
    @include header-fonts;
  }

  .greeting-description {
    @include body-fonts;
    padding: 0 3.125rem;
  }
}

.time-ruler {
  padding: 0 3rem;
}
