$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-time-input;

.#{$C} {
  input[type="time"] {
    position: relative;
    padding-left: 2rem;

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      margin: 0 0 0.25rem 0;
      padding: 0;
      left: 0.75rem;
      filter: var(--wxc-date-input--calendar-picker-indicator--filter);
    }
  }
}
