.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-interstitial-meeting {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: $WEBEX_MEETING_MIN_HEIGHT;
  min-width: $WEBEX_MEETING_MIN_WIDTH;

  .interstitial-media {
    flex-grow: 1;
  }
}
