.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-interstitial-meeting {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $WEBEX_MEETING_MIN_WIDTH;

  .media-container {
    flex: 1;
    align-self: stretch;

    position: relative;
    display: flex;
    flex-direction: column;
  }

  .interstitial-media {
    flex: 1;
  }
}
