$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-modal;

.#{$C} {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #{$wxc-black-alpha-40};

  .#{$C}__content {
    border: var(--wxc-modal--border);
    box-shadow: var(--wxc-modal--box-shadow);
    background-color: var(--wxc-modal--background);
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  &--centered-modal{
    align-items: center;

    .#{$C}__content {
      flex: 0 1 auto;
    }
  }

  .#{$C}__header {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
  }

  .#{$C}__title {
    color: var(--wxc-text-color);
    font-family: $brand-font-bold;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .#{$C}__close {
    margin-left: auto;
  }

  .#{$C}__back {
    padding: 0.475rem;
  }

  .#{$C}__body {
    padding: 0 1.25rem 1.25rem;
    overflow-y: auto;
    flex: 1;
    min-height: 5rem;
    margin-bottom: 1rem;
  }
}
