.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-meeting-control-bar {
  overflow: hidden;
  display: flex;
  justify-content: center;

  .controls {
    white-space: nowrap;
    display: flex;
    align-items: center;

    > * {
      margin: 0.3125rem;
    }
  }
}
