$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-label;

.#{$C} {
  display: flex;
  flex-direction: column;

  &__label-text {
    color: var(--wxc-text-color);
    font-size: 0.875rem;
    margin: 0 0 0.25rem 0.8125rem;
  }

  &__required {
    color: var(--wxc-error-color);
  }

  &__control {
    flex: 1;
  }

  &__error {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--wxc-error-color);
    margin: 0.25rem 0;

    .#{$C}__error-text {
      font-size: 0.875rem;
    }

    .#{$C}__error-icon {
      margin: 0 0.5625rem 0 0.8125rem;
    }
  }
}
