$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-no-media;

.#{$C} {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  color: var(--wxc-text-color);

  .#{$C}__icon-media-issue {
    fill: transparent;
  }

  .#{$C}__title {
    color: var(--wxc-error-color);
  }

  .#{$C}__indications {
    margin-top: 1.875rem;
    margin-bottom: 0;

    .#{$C}__accent {
      font-family: $brand-font-bold;
    }
  }
}
