$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-no-media;

.#{$C} {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  color: var(--wxc-text-color);
  font-family: $brand-font-regular;

  .#{$C}__icon-media-issue {
    fill: transparent;
    margin-bottom: 1.25rem;
  }

  .#{$C}__title {
    color: var(--wxc-error-color);
  }

  p {
    margin-top: 1.875rem;
    margin-bottom: 0;

    b {
      font-family: $brand-font-bold;
    }
  }
}
