.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-meeting-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--wxc-text-color);
  font-family: $brand-font-regular;

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}
