$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-meeting-info;

.#{$C} {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--wxc-text-color);

  .#{$C}__title {
    text-align: center;
    margin: 0;
  }

  .#{$C}__time {
    font-size: 0.75rem;
    text-align: center;
  }

  &--tablet {
    .#{$C}__title {
      font-size: 1.255rem;
    }

    .#{$C}__time {
      font-size: 0.875rem;
    }
  }

  &--desktop {
    .#{$C}__title {
      font-size: 1.5rem;
    }

    .#{$C}__time {
      font-size: 1rem;
    }
  }
}
