$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-ac;

.#{$C}-font-type--monospace { font-family: #{$font-family-monospace}; }
.#{$C}-font-type--default { font-family: #{$brand-font-regular}; }

.#{$C}-horizontal-alignment {
  &--left { text-align: left; }
  &--center { text-align: center; }
  &--right { text-align: right; }
}

.#{$C}-size {
  &--default { font-size: 0.875rem; }
  &--small { font-size: 0.75rem; }
  &--medium { font-size: 1rem; }
  &--large { font-size: 1.25rem; }
  &--extraLarge { font-size: 1.5rem; }
}

.#{$C}-weight {
  &--default { font-weight: 400; }
  &--lighter { font-weight: lighter; }
  &--bolder { font-weight: bolder; }
}

.#{$C}-wrap--false {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$C}-rtl--true { direction: rtl; }
.#{$C}-rtl--false { direction: ltr; }

.#{$C}-container-style {
  &--heading {
    font-weight: bold;
    font-size: 200%;
  }
  &--default { background-color: var(--wxc-adaptive-cards--background-color--default); }
  &--emphasis { background-color: var(--wxc-adaptive-cards--background-color--emphasis); }
  &--good { background-color: var(--wxc-adaptive-cards--background-color--good); }
  &--attention { background-color: var(--wxc-adaptive-cards--background-color--attention); }
  &--warning { background-color: var(--wxc-adaptive-cards--background-color--warning); }
  &--accent { background-color: var(--wxc-adaptive-cards--background-color--accent); }
}

.#{$C}-image-style--person { border-radius: 50%; }

.#{$C}-image-size {
  &--small { width: 40px; height: 40px; }
  &--medium { width: 80px; height: 80px; }
  &--large { width: 160px; height: 160px; }
}

.#{$C}-container--has-padding {
  padding: 0.625rem;
}

.#{$C}-container--horizontal {
  display: flex;

  > .#{$C}-separator--true:not(:first-child) {
     border-left: 1px solid var(--wxc-adaptive-cards--separator-color);
  }

  > :not(:first-child) { margin-left: 0.5rem; }

  > .#{$C}-spacing:not(:first-child) {
    &--none { margin-left: 0; }
    &--small { margin-top: 0.188rem; }
    &--medium { margin-left: 1.125rem; }
    &--large { margin-left: 1.875rem; }
    &--extraLarge { margin-left: 2.5rem; }
    &--padding { margin-left: 0.625rem; }
  }

  &.#{$C}-container--has-padding > .#{$C}-bleed--true {
    margin-top: -0.625rem;
    margin-bottom: -0.625rem;

    &:first-child { margin-left: -0.625rem; }
    &:last-child { margin-right: -0.625rem; }
  }
}

.#{$C}-container--vertical {
  display: flex;
  flex-direction: column;

  > .#{$C}-separator--true:not(:first-child) {
     border-top: 1px solid var(--wxc-adaptive-cards--separator-color);;
  }

  > :not(:first-child) { margin-top: 0.5rem; }

  > .#{$C}-spacing:not(:first-child) {
    &--none { margin-top: 0; }
    &--small { margin-top: 0.188rem; }
    &--medium { margin-top: 1.125rem; }
    &--large { margin-top: 1.875rem; }
    &--extraLarge { margin-top: 2.5rem; }
    &--padding { margin-top: 0.625rem; }
  }

  &.#{$C}-container--has-padding > .#{$C}-bleed--true {
    margin-left: -0.625rem;
    margin-right: -0.625rem;

    &:first-child { margin-top: -0.625rem; }
    &:last-child { margin-bottom: -0.625rem; }
  }
}

.#{$C}-is-visible--false {
  display: none;
}

.#{$C}-is-subtle--true {
  color: var(--wxc-adaptive-cards--subtle-color--default);
  &.#{$C}-color--dark { color: var(--wxc-adaptive-cards--subtle-color--dark); }
  &.#{$C}-color--light { color: var(--wxc-adaptive-cards--subtle-color--light); }
  &.#{$C}-color--accent { color: var(--wxc-adaptive-cards--subtle-color--accent); }
  &.#{$C}-color--good { color: var(--wxc-adaptive-cards--subtle-color--good); }
  &.#{$C}-color--warning { color: var(--wxc-adaptive-cards--subtle-color--warning); }
  &.#{$C}-color--attention { color: var(--wxc-adaptive-cards--subtle-color--attention); }
}

:not(.#{$C}-is-subtle--true) {
  &.#{$C}-color--default { color: var(--wxc-adaptive-cards--color--default); }
  &.#{$C}-color--dark { color: var(--wxc-adaptive-cards--color--dark); }
  &.#{$C}-color--light { color: var(--wxc-adaptive-cards--color--light); }
  &.#{$C}-color--accent { color: var(--wxc-adaptive-cards--color--accent); }
  &.#{$C}-color--good { color: var(--wxc-adaptive-cards--color--good); }
  &.#{$C}-color--warning { color: var(--wxc-adaptive-cards--color--warning); }
  &.#{$C}-color--attention { color: var(--wxc-adaptive-cards--color--attention); }
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-adaptive-cards-unknown-component {
  white-space: pre-wrap;
}
