$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-ac;

.#{$C}-font-type--monospace { font-family: #{$font-family-monospace}; }
.#{$C}-font-type--default { font-family: #{$brand-font-regular}; }

.#{$C}-container--horizontal {
  &.#{$C}-horizontal-alignment--left { justify-content: flex-start; }
  &.#{$C}-horizontal-alignment--center { justify-content: center; }
  &.#{$C}-horizontal-alignment--right { justify-content: flex-end; }
}

.#{$C}-container--vertical {
  > :not(.#{$C}-container--horizontal) {
    &.#{$C}-horizontal-alignment--left { align-self: flex-start; }
    &.#{$C}-horizontal-alignment--center { align-self: center; }
    &.#{$C}-horizontal-alignment--right { align-self: flex-end; }
  }
}

.#{$C}-size {
  &--default { font-size: 0.875rem; }
  &--small { font-size: 0.75rem; }
  &--medium { font-size: 1rem; }
  &--large { font-size: 1.25rem; }
  &--extraLarge { font-size: 1.5rem; }
}

.#{$C}-weight {
  &--default { font-weight: 400; }
  &--lighter { font-weight: lighter; }
  &--bolder { font-weight: bolder; }
}

.#{$C}-wrap--false {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$C}-rtl--true { direction: rtl; }
.#{$C}-rtl--false { direction: ltr; }

.#{$C}-highlight--true {
  background-color: var(--wxc-adaptive-cards--highlight-color);
}

.#{$C}-italic--true {
  font-style: italic;
}

.#{$C}-strikethrough--true {
  text-decoration: line-through;
}

.#{$C}-underline--true {
  text-decoration: underline;
}

.#{$C}-container-style {
  &--heading {
    font-weight: bold;
    font-size: 200%;
  }
  &--default { background-color: var(--wxc-adaptive-cards--background--default); }
  &--emphasis { background-color: var(--wxc-adaptive-cards--background--emphasis); }
  &--good { background-color: var(--wxc-adaptive-cards--background--good); }
  &--attention { background-color: var(--wxc-adaptive-cards--background--attention); }
  &--warning { background-color: var(--wxc-adaptive-cards--background--warning); }
  &--accent { background-color: var(--wxc-adaptive-cards--background--accent); }
}

.#{$C}-image-style--person { border-radius: 50%; }

.#{$C}-image-size {
  &--small { width: 40px; height: 40px; }
  &--medium { width: 80px; height: 80px; }
  &--large { width: 160px; height: 160px; }
}

.#{$C}-container--has-padding {
  padding: 0.625rem;
}

.#{$C}-container--horizontal {
  display: flex;
  flex-direction: row;

  > .#{$C}-width {
    &--auto { width: auto; }
    &--stretch { flex: 1; }
  }

  > .#{$C}-height {
    &--auto { height: auto; }
    &--stretch { align-self: stretch; }
  }

  &.#{$C}-container--has-padding > .#{$C}-bleed--true {
    margin-top: -0.625rem;
    margin-bottom: -0.625rem;

    &:first-child { margin-left: -0.625rem; }
    &:last-child { margin-right: -0.625rem; }
  }
}

.#{$C}-container--vertical {
  display: flex;
  flex-direction: column;

  > .#{$C}-width {
    &--auto { width: auto; }
    &--stretch { align-self: stretch; }
  }

  > .#{$C}-height {
    &--auto { height: auto; }
    &--stretch { flex: 1; }
  }

  &.#{$C}-vertical-content-alignment {
    &--top { justify-content: flex-start; }
    &--center { justify-content: center; }
    &--bottom { justify-content: flex-end; }
  }

  &.#{$C}-container--has-padding > .#{$C}-bleed--true {
    margin-left: -0.625rem;
    margin-right: -0.625rem;

    &:first-child { margin-top: -0.625rem; }
    &:last-child { margin-bottom: -0.625rem; }
  }
}

.#{$C}-is-visible--false {
  display: none;
}

.#{$C}-is-subtle--true {
  color: var(--wxc-adaptive-cards--subtle-color--default);
  &.#{$C}-color--dark { color: var(--wxc-adaptive-cards--subtle-color--dark); }
  &.#{$C}-color--light { color: var(--wxc-adaptive-cards--subtle-color--light); }
  &.#{$C}-color--accent { color: var(--wxc-adaptive-cards--subtle-color--accent); }
  &.#{$C}-color--good { color: var(--wxc-adaptive-cards--subtle-color--good); }
  &.#{$C}-color--warning { color: var(--wxc-adaptive-cards--subtle-color--warning); }
  &.#{$C}-color--attention { color: var(--wxc-adaptive-cards--subtle-color--attention); }
}

:not(.#{$C}-is-subtle--true) {
  &.#{$C}-color--default { color: var(--wxc-adaptive-cards--color--default); }
  &.#{$C}-color--dark { color: var(--wxc-adaptive-cards--color--dark); }
  &.#{$C}-color--light { color: var(--wxc-adaptive-cards--color--light); }
  &.#{$C}-color--accent { color: var(--wxc-adaptive-cards--color--accent); }
  &.#{$C}-color--good { color: var(--wxc-adaptive-cards--color--good); }
  &.#{$C}-color--warning { color: var(--wxc-adaptive-cards--color--warning); }
  &.#{$C}-color--attention { color: var(--wxc-adaptive-cards--color--attention); }
}

.#{$C}-background-image {
  background-repeat: no-repeat;

  &-fill-mode {
    &--repeat { background-repeat: repeat; }
    &--repeathorizontally { background-repeat: repeat-x; }
    &--repeatvertically { background-repeat: repeat-y; }
    &--cover { background-size: cover; }
  }

  &-vertical-alignment {
    &--top { background-position: top; }
    &--center { background-position: center; }
    &--bottom { background-position: bottom; }
  }

  &-horizontal-alignment {
    &--left { background-position: left; }
    &--center { background-position: center; }
    &--right { background-position: right; }
  }
}

.#{$C}-select-action {
  @include focusable;
  &:hover {
    border: var(--wxc-adaptive-cards--action--hover--border);
    background-color: var(--wxc-adaptive-cards--action--hover--background);
    color: var(--wxc-adaptive-cards--action--hover--foreground)
  }
  &:active {
    border: var(--wxc-adaptive-cards--action--active--border);
    background-color: var(--wxc-adaptive-cards--action--active--background);
    color: var(--wxc-adaptive-cards--action--active--foreground)
  }
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-adaptive-cards-unknown-component {
  white-space: pre-wrap;
}
