.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-badge {
  padding: .5rem 1rem .4375rem 1.0625rem;
  color: var(--wxc-badge-text-color);
  background: var(--wxc-badge-background);
  border: var(--wxc-badge-border);
  box-shadow: var(--wxc-badge-box-shadow);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
}
