version: 2.1

executors:
  node-fermium-executor:
    working_directory: ~/webex-components
    docker:
      - image: circleci/node:fermium

jobs:
  install:
    executor: node-fermium-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies & peer dependencies
          command: npx npm-install-peers
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths: node_modules
      - persist_to_workspace:
          root: .
          paths: .

  lint:
    executor: node-fermium-executor
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Code linting
          command: npm run linter

  unit_test:
    executor: node-fermium-executor
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Unit Test Coverage
          command: npm run test:coverage
      - store_test_results:
          path: test_results

  storybook_preview: 
    executor: node-fermium-executor
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Generate Storybook Preview in Chromatic
          command: npm run chromatic --project-token=$CHROMATIC_PROJECT_TOKEN --exit-zero-on-changes

  build:
    executor: node-fermium-executor
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - dist
            - docs/bundle-analysis-*

  release:
    executor: node-fermium-executor
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Release
          command: npm run release

  storybook:
    executor: node-fermium-executor
    steps:
      - attach_workspace:
          at: .
      - add_ssh_keys:
          fingerprints:
            - $RW_FINGERPRINT
      - checkout
      - run:
          name: Build Storybook
          command: |
            rm -rf docs/storybook
            npm run storybook:build
      - run:
          name: Push Storybook updates to Github
          command: |
            # Check if there's anything to commit
            if [ -n "$(git status --porcelain)" ]; then
              git pull
              git add docs/storybook
              git commit -m "docs: build Storybook [skip ci]"
              git push origin master
            fi

workflows:
  test_and_release:
    jobs:
      - install
      - lint:
          requires:
            - install
      - unit_test:
          requires:
            - install
      - storybook_preview:
          requires:
            - unit_test
      - build:
          requires:
            - lint
            - unit_test
          filters:
            branches:
              only: master
      - release:
          requires:
            - build
          filters:
            branches:
              only: master
      - storybook:
          requires:
            - release
          filters:
            branches:
              only: master
