$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-member;

.#{$C} {
  display: flex;
  align-items: center;
  color: var(--wxc-text-color);

  .#{$C}__avatar {
    height: 2rem;
    width: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .#{$C}__details {
    flex: 1;
    min-width: 0;
    margin-left: 0.75rem;
  }

  .#{$C}__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.063rem;

    .#{$C}__guest {
      color: var(--wxc-secondary-text-color);
    }
  }

  .#{$C}__roles {
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--wxc-secondary-text-color);
  }

  .#{$C}__organization {
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--wxc-warning-color);
  }

  .#{$C}__sharing {
    margin-right: 2.5rem;
  }

  .#{$C}__speaking {
    color: var(--wxc-speaking-color);
  }

  .#{$C}__muted {
    color: var(--wxc-muted-color);
  }
}
