.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-member {
  display: flex;
  align-items: center;
  color: var(--wxc-text-color);

  .details {
    flex: 1;
    min-width: 0;
    margin-left: 0.75rem;
  }

  .name {
    @include body-fonts;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .guest {
      color: $md-gray-70;
    }
  }

  .roles {
    font-size: 0.875rem;
    color: var(--wxc-secondary-text-color);
  }

  .organization {
    font-size: 0.875rem;
    color: var(--wxc-warning-color);
  }

  .sharing {
    margin-right: 2.5rem;
  }

  .muted {
    color: $md-red-60;
  }
}
