.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-button {
  display: flex;
  justify-content: center;
  border-radius: 1000px;
  font-family: $brand-font-regular;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.75rem;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-button--join {
  background: var(--wxc-button--join--normal--bg);
  border: none;
  color: var(--wxc-button--join--normal--color);

  &:hover {
    background: var(--wxc-button--join--hover--bg);
  }

  &:active {
    background: var(--wxc-button--join--active--bg);
  }

  &:disabled {
    background: var(--wxc-button--join--disabled--bg);
    color: var(--wxc-button--join--disabled--color);
  }
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-button--default {
  align-items: flex-end;
  background: var(--wxc-button--default--normal--bg);
  border: var(--wxc-button--default--normal--border);
  color: var(--wxc-button--default--normal--color);

  &:hover {
    background: var(--wxc-button--default--hover--bg);
  }

  &:active {
    background: var(--wxc-button--default--active--bg);
  }

  &:disabled {
    background: var(--wxc-button--default--disabled--bg);
    border: var(--wxc-button--default--disabled--border);
    color: var(--wxc-button--default--disabled--color);
  }
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-button--cancel {
  background: var(--wxc-button--cancel--normal--bg);
  border: var(--wxc-button--cancel--normal--border);
  color: var(--wxc-button--cancel--normal--color);

  &:hover {
    background: var(--wxc-button--cancel--hover--bg);
  }

  &:active {
    background: var(--wxc-button--cancel--active--bg);
  }

  &:disabled {
    background: var(--wxc-button--cancel--disabled--bg);
    color: var(--wxc-button--cancel--disabled--color);
  }
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-button--ghost {
  background: transparent;
  border: var(--wxc-button--ghost--normal--border);
  border-radius: 50%;
  color: var(--wxc-button--ghost--normal--color);
  padding: 0.375rem;

  &:hover {
    background: var(--wxc-button--ghost--hover--background);
  }

  &:active {
    background: var(--wxc-button--ghost--active--background);
  }

  &:disabled {
    background: var(--wxc-button--ghost--disabled--background);
    color: var(--wxc-button--ghost--disabled--color);
  }
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-button--primary {
  font-size: 0.938rem;
  line-height: 1.25rem;
  padding: 0.25rem 0.875rem;
  letter-spacing: 0.015rem;
  background: var(--wxc-button--primary--normal--bg);
  border: none;
  color: var(--wxc-button--primary--normal--color);

  &:hover {
    background: var(--wxc-button--primary--hover--bg);
  }

  &:active {
    background: var(--wxc-button--primary--active--bg);
  }

  &:disabled {
    background: var(--wxc-button--primary--disabled--bg);
    color: var(--wxc-button--primary--disabled--color);
  }
}
