@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: auto;
}

@mixin header-fonts {
  font-family: $brand-font-extra-light;
  font-size: 1.625rem;
  line-height: 2rem;
  letter-spacing: 0.0125rem;
}

@mixin body-fonts {
  font-family: $brand-font-light;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01875rem;
}
