.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-audio-settings {
  h5 {
    color: var(--wxc-text-color);
    font-size: 1rem;
    line-height: 150%;
    font-family: $brand-font-bold;
    margin: 20px 0 4px;
  }
}
