$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-activity-header;

$content-left-margin: 3.5rem; //avatar width + margin

.#{$C} {
  display: flex;
  flex-direction: column;
  position: relative;

  .#{$C}__avatar {
    position: absolute;
    margin: 0 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .#{$C}__author {
    @include noselect();
    display: flex;
    min-width: 18.75rem !important;
    margin-left: $content-left-margin;
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-align: left;
    color: var(--wxc-secondary-text-color);
    word-wrap: break-word;
  }

  .#{$C}__timestamp {
    margin-left: 0.5rem;
  }
}
