@import '../../styles/variables';

$content-left-margin: 3.5rem; //avatar width + margin

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-activity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;

  .activity-content {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    min-width: 15.625rem !important;
    margin-left: $content-left-margin;
    font-size: 1rem;
    color: $black;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

