.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-theme-dark, :root {
  --wxc-loading-logo: url(../themes/dark/loading.gif);
  --wxc-text-color: #{$wxc-white-alpha-95};
  --wxc-secondary-text-color: #{$wxc-white-alpha-70};
  --wxc-warning-color: #{$wxc-yellow-40};
  --wxc-error-color: #{$wxc-red-40};
  --wxc-primary-background: #{$wxc-gradation-webex-dark-primary};
  --wxc-secondary-background: #{$wxc-gradation-webex-dark-secondary};
  --wxc-muted-color: #{$wxc-red-50};
  --wxc-speaking-color: #{$wxc-green-40};
  --wxc-video-background: #{$wxc-white-alpha-05};
  --wxc-secondary-video-background: #{$wxc-gray-100};
  --wxc-meeting-border: 1px solid #{$wxc-white-alpha-30};
  --wxc-box-shadow: none;
  --wxc-person-status--active-color: #{$wxc-green-40};
  --wxc-person-status--dnd-color: #{$wxc-red-50};
  --wxc-person-status--in-a-meeting-color: #{$wxc-yellow-30};
  --wxc-person-status--away-color: #{$wxc-gray-40};

  --wxc-badge-background: #{$wxc-gray-100};
  --wxc-badge-border: 0.06rem solid #{$wxc-white-alpha-30};
  --wxc-badge-text-color: #{$wxc-white-alpha-95};
  --wxc-badge-box-shadow: 0 .5rem 1rem #{$wxc-black-alpha-16}, 0 0 .06rem #{$wxc-black-alpha-14};

  --wxc-avatar--placeholder-1--background: #{$wxc-white-alpha-50};
  --wxc-avatar--placeholder-2--background: #{$wxc-cobalt-70};
  --wxc-avatar--placeholder-3--background: #{$wxc-cyan-70};
  --wxc-avatar--placeholder-4--background: #{$wxc-gold-70};
  --wxc-avatar--placeholder-5--background: #{$wxc-lime-70};
  --wxc-avatar--placeholder-6--background: #{$wxc-mint-70};
  --wxc-avatar--placeholder-7--background: #{$wxc-orange-70};
  --wxc-avatar--placeholder-8--background: #{$wxc-pink-70};
  --wxc-avatar--placeholder-9--background: #{$wxc-slate-70};
  --wxc-avatar--placeholder-10--background: #{$wxc-violet-70};
  --wxc-avatar--placeholder-11--background: #{$wxc-purple-70};
  --wxc-avatar--bot-status-color: #{$wxc-blue-60};
  --wxc-avatar--text-color: #{$wxc-white-alpha-100};

  --wxc-banner--top--background: #{$wxc-gradation-dark-transparent};
  --wxc-banner--bottom--background: #{$wxc-black-alpha-70};

  --wxc-icon--background-color: #{$wxc-black-alpha-100};
  --wxc-icon--color: #{$wxc-white-alpha-100};
  --wxc-icon--accent-color: #{$wxc-green-40};
  --wxc-icon--muted-color: #{$wxc-red-50};
  --wxc-icon--error--gradient-start-color: #{$wxc-pink-50};
  --wxc-icon--error--gradient-stop-color: #{$wxc-red-60};

  --wxc-modal--background: #{$wxc-gray-100};
  --wxc-modal--border: 1px solid #{$wxc-black-alpha-11};
  --wxc-modal--box-shadow: 0 1.5rem 3rem #{$wxc-black-alpha-20}, 0 0 0.0625rem #{$wxc-black-alpha-12};

  --wxc-button--cancel--normal--bg: #{$wxc-red-60};
  --wxc-button--cancel--normal--border: none;
  --wxc-button--cancel--normal--color: #{$wxc-white-alpha-95};

  --wxc-button--cancel--active--bg: #{$wxc-red-80};

  --wxc-button--cancel--hover--bg: #{$wxc-red-70};

  --wxc-button--cancel--disabled--bg: #{$wxc-white-alpha-20};
  --wxc-button--cancel--disabled--color: #{$wxc-white-alpha-40};

  --wxc-button--default--normal--bg: transparent;
  --wxc-button--default--normal--border: 1px solid #{$wxc-white-alpha-30};
  --wxc-button--default--normal--color: #{$wxc-white-alpha-95};

  --wxc-button--default--active--bg: #{$wxc-white-alpha-20};

  --wxc-button--default--hover--bg: #{$wxc-white-alpha-07};

  --wxc-button--default--disabled--bg: transparent;
  --wxc-button--default--disabled--border: 1px solid #{$wxc-white-alpha-20};
  --wxc-button--default--disabled--color: #{$wxc-white-alpha-40};

  --wxc-button--ghost--normal--border: none;
  --wxc-button--ghost--normal--color: #{$wxc-white-alpha-100};

  --wxc-button--ghost--hover--background: #{$wxc-white-alpha-07};

  --wxc-button--ghost--active--background: #{$wxc-white-alpha-20};

  --wxc-button--ghost--disabled--background: #{$wxc-white-alpha-20};
  --wxc-button--ghost--disabled--color: #{$wxc-white-alpha-40};

  --wxc-button--join--normal--bg: #{$wxc-green-60};
  --wxc-button--join--normal--color: #{$wxc-white-alpha-95};

  --wxc-button--join--active--bg: #{$wxc-green-80};

  --wxc-button--join--hover--bg: #{$wxc-green-70};

  --wxc-button--join--disabled--bg: #{$wxc-white-alpha-20};
  --wxc-button--join--disabled--color: #{$wxc-white-alpha-40};

  --wxc-spinner-circle-color: #{$wxc-white-alpha-11};
  --wxc-spinner-moving-color: #{$wxc-white-alpha-95};

  --wxc-tab--normal--color: #{$wxc-white-alpha-70};
  --wxc-tab--normal--background: transparent;
  --wxc-tab--active--color: #{$wxc-white-alpha-95};
  --wxc-tab--active--background: #{$wxc-white-alpha-20};

  --wxc-select--normal--background: #{$wxc-black-alpha-04};
  --wxc-select--normal--color: #{$wxc-white-alpha-70};
  --wcx-select--normal--border: 1px solid #{$wxc-white-alpha-50};

  --wxc-select--hover--background: #{$wxc-black-alpha-04};

  --wxc-select--active--background: #{$wxc-white-alpha-11};
  --wxc-select--active--color: #{$wxc-white-alpha-95};

  --wxc-select--disabled--background: #{$wxc-white-alpha-11};
  --wxc-select--disabled--color: #{$wxc-white-alpha-40};

  --wxc-select--focus--color: #{$wxc-white-alpha-95};
  --wxc-select--focus--border: 1px solid #{$wxc-blue-60};

  --wxc-options-list--normal--box-shadow: 0 0 0 1px #{$wxc-white-alpha-30} inset;
  --wxc-options-list--normal--background: #{$wxc-gray-95};

  --wxc-options-list-item--hover--background: #{$wxc-white-alpha-05};

  --wxc-options-list-item--active--background: #{$wxc-white-alpha-11};

  --wxc-options-list-item--focus--box-shadow: 0 0 0 1px #{$wxc-blue-60} inset;

  --wxc-options-list-item--selected--color:  #{$wxc-blue-40};
}
