.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-theme-dark, :root {
  --wxc-loading-logo: url(../themes/dark/loading.gif);
  --wxc-auth-logo: url(../themes/dark/webex-logo.svg);
  --wxc-text-color: #{$wxc-white-alpha-95};
  --wxc-secondary-text-color: #{$wxc-white-alpha-70};
  --wxc-warning-color: #{$wxc-yellow-40};
  --wxc-error-color: #{$wxc-red-40};
  --wxc-primary-background: #{$wxc-gradation-webex-dark-primary};
  --wxc-secondary-background: #{$wxc-gradation-webex-dark-secondary};
  --wxc-muted-color: #{$wxc-red-50};
  --wxc-speaking-color: #{$wxc-green-40};
  --wxc-video-background: #{$wxc-white-alpha-05};
  --wxc-secondary-video-background: #{$wxc-gray-100};
  --wxc-meeting-border: 1px solid #{$wxc-white-alpha-30};
  --wxc-box-shadow: none;
  --wxc-focus-box-shadow: 0 0 0 0.25rem #{$wxc-blue-40-alpha-30}, 0 0 0 0.125rem #{$wxc-blue-40};
  --wxc-person-status--active-color: #{$wxc-green-40};
  --wxc-person-status--dnd-color: #{$wxc-red-50};
  --wxc-person-status--in-a-meeting-color: #{$wxc-yellow-30};
  --wxc-person-status--away-color: #{$wxc-gray-40};

  --wxc-badge-background: #{$wxc-gray-100};
  --wxc-badge-border: 0.06rem solid #{$wxc-white-alpha-30};
  --wxc-badge-text-color: #{$wxc-white-alpha-95};
  --wxc-badge-box-shadow: 0 .5rem 1rem #{$wxc-black-alpha-16}, 0 0 .06rem #{$wxc-black-alpha-14};

  --wxc-avatar--placeholder-1--background: #{$wxc-white-alpha-50};
  --wxc-avatar--placeholder-2--background: #{$wxc-cobalt-70};
  --wxc-avatar--placeholder-3--background: #{$wxc-cyan-70};
  --wxc-avatar--placeholder-4--background: #{$wxc-gold-70};
  --wxc-avatar--placeholder-5--background: #{$wxc-lime-70};
  --wxc-avatar--placeholder-6--background: #{$wxc-mint-70};
  --wxc-avatar--placeholder-7--background: #{$wxc-orange-70};
  --wxc-avatar--placeholder-8--background: #{$wxc-pink-70};
  --wxc-avatar--placeholder-9--background: #{$wxc-slate-70};
  --wxc-avatar--placeholder-10--background: #{$wxc-violet-70};
  --wxc-avatar--placeholder-11--background: #{$wxc-purple-70};
  --wxc-avatar--bot-status-color: #{$wxc-blue-60};
  --wxc-avatar--self-status-color: #{$wxc-cobalt-50};
  --wxc-avatar--self-status-border: #{$wxc-white-alpha-100};
  --wxc-avatar--text-color: #{$wxc-white-alpha-100};

  --wxc-banner--top--background: #{$wxc-gradation-dark-transparent};
  --wxc-banner--bottom--background: #{$wxc-black-alpha-70};

  --wxc-icon--background-color: #{$wxc-black-alpha-100};
  --wxc-icon--color: #{$wxc-white-alpha-100};
  --wxc-icon--accent-color: #{$wxc-green-40};
  --wxc-icon--muted-color: #{$wxc-red-50};
  --wxc-icon--error--gradient-start-color: #{$wxc-pink-50};
  --wxc-icon--error--gradient-stop-color: #{$wxc-red-60};

  --wxc-loading-logo-size: 11.6875rem;

  --wxc-modal--background: #{$wxc-gray-100};
  --wxc-modal--border: 1px solid #{$wxc-black-alpha-11};
  --wxc-modal--box-shadow: 0 1.5rem 3rem #{$wxc-black-alpha-20}, 0 0 0.0625rem #{$wxc-black-alpha-12};

  --wxc-button--cancel--normal--bg: #{$wxc-red-60};
  --wxc-button--cancel--normal--border: none;
  --wxc-button--cancel--normal--color: #{$wxc-white-alpha-95};

  --wxc-button--cancel--active--bg: #{$wxc-red-80};

  --wxc-button--cancel--hover--bg: #{$wxc-red-70};

  --wxc-button--cancel--disabled--bg: #{$wxc-white-alpha-20};
  --wxc-button--cancel--disabled--color: #{$wxc-white-alpha-40};

  --wxc-button--default--normal--bg: transparent;
  --wxc-button--default--normal--border: 1px solid #{$wxc-white-alpha-30};
  --wxc-button--default--normal--color: #{$wxc-white-alpha-95};

  --wxc-button--default--active--bg: #{$wxc-white-alpha-20};

  --wxc-button--default--hover--bg: #{$wxc-white-alpha-07};

  --wxc-button--default--disabled--bg: transparent;
  --wxc-button--default--disabled--border: 1px solid #{$wxc-white-alpha-20};
  --wxc-button--default--disabled--color: #{$wxc-white-alpha-40};

  --wxc-button--ghost--normal--border: none;
  --wxc-button--ghost--normal--color: #{$wxc-white-alpha-100};

  --wxc-button--ghost--hover--background: #{$wxc-white-alpha-07};

  --wxc-button--ghost--active--background: #{$wxc-white-alpha-20};

  --wxc-button--ghost--disabled--background: #{$wxc-white-alpha-20};
  --wxc-button--ghost--disabled--color: #{$wxc-white-alpha-40};

  --wxc-button--join--normal--bg: #{$wxc-green-60};
  --wxc-button--join--normal--color: #{$wxc-white-alpha-95};

  --wxc-button--join--active--bg: #{$wxc-green-80};

  --wxc-button--join--hover--bg: #{$wxc-green-70};

  --wxc-button--join--disabled--bg: #{$wxc-white-alpha-20};
  --wxc-button--join--disabled--color: #{$wxc-white-alpha-40};

  --wxc-button--primary--normal--bg: #{$wxc-white-alpha-95};
  --wxc-button--primary--normal--color: #{$wxc-black-alpha-95};

  --wxc-button--primary--active--bg: #{$wxc-white-alpha-70};

  --wxc-button--primary--hover--bg: #{$wxc-white-alpha-80};

  --wxc-button--primary--disabled--bg: #{$wxc-white-alpha-20};
  --wxc-button--primary--disabled--color: #{$wxc-white-alpha-40};

  --wxc-spinner-circle-color: #{$wxc-white-alpha-11};
  --wxc-spinner-moving-color: #{$wxc-white-alpha-95};

  --wxc-tab--normal--color: #{$wxc-white-alpha-70};
  --wxc-tab--normal--background: transparent;
  --wxc-tab--active--color: #{$wxc-white-alpha-95};
  --wxc-tab--active--background: #{$wxc-white-alpha-20};
  --wxc-tab--hover--background: #{$wxc-white-alpha-07};
  --wxc-tab--hover--color: #{$wxc-white-alpha-95};

  --wxc-select--normal--background: #{$wxc-black-alpha-04};
  --wxc-select--normal--color: #{$wxc-white-alpha-95};
  --wcx-select--normal--border: 1px solid #{$wxc-white-alpha-50};

  --wxc-select--hover--background: #{$wxc-black-alpha-04};

  --wxc-select--active--background: #{$wxc-white-alpha-11};
  --wxc-select--active--color: #{$wxc-white-alpha-95};

  --wxc-select--disabled--background: #{$wxc-white-alpha-11};
  --wcx-select--disabled--border: 1px solid #{$wxc-white-alpha-11};
  --wxc-select--disabled--color: #{$wxc-white-alpha-40};

  --wxc-select--focus--background: #{$wxc-white-alpha-11};
  --wxc-select--focus--color: #{$wxc-white-alpha-95};
  --wxc-select--focus--box-shadow: 0 0 0 2px #{$wxc-blue-40}, 0px 0px 0px 4px #{$wxc-blue-60};
  --wxc-select--focus--border: 1px solid #{$wxc-white-alpha-90};

  --wxc-input--normal--background: #{$wxc-black-alpha-00};
  --wxc-input--normal--color: #{$wxc-white-alpha-70};
  --wcx-input--normal--border: 1px solid #{$wxc-white-alpha-50};

  --wxc-error-input--normal--background: #{$wxc-red-90};
  --wxc-error-input--normal--border: 1px solid #{$wxc-red-40};

  --wxc-input--hover--background: #{$wxc-white-alpha-07};

  --wxc-input--active--background: #{$wxc-white-alpha-11};
  --wxc-input--active--color: #{$wxc-white-alpha-70};
  --wxc-input--active--border: 1px solid #{$wxc-white-alpha-90};
  --wxc-input--active--box-shadow: 0 0 0 0.25rem #{$wxc-blue-40-alpha-30}, 0 0 0 0.125rem #{$wxc-blue-40};

  --wxc-input--focus--background: #{$wxc-white-alpha-11};
  --wxc-input--focus--color: #{$wxc-white-alpha-70};
  --wxc-input--focus--border: 1px solid #{$wxc-white-alpha-90};
  --wxc-input--focus--box-shadow: 0 0 0 0.25rem #{$wxc-blue-40-alpha-30}, 0 0 0 0.125rem #{$wxc-blue-40};

  --wxc-input--disabled--background: #{$wxc-white-alpha-11};
  --wxc-input--disabled--color: #{$wxc-white-alpha-11};
  --wxc-input--disabled--border: 1px solid transparent;

  --wxc-input-icon-color: #{$wxc-white-alpha-70};

  --wxc-input--label--color: #{$wxc-white-alpha-95};

  --wxc-options-list--normal--box-shadow: 0 0 0 1px #{$wxc-white-alpha-30} inset;
  --wxc-options-list--normal--background: #{$wxc-gray-95};

  --wxc-options-list-item--focused--background: #{$wxc-white-alpha-07};

  --wxc-options-list-item--active--background: #{$wxc-white-alpha-11};

  --wxc-options-list-item--focus--box-shadow: 0 0 0 2px #{$wxc-blue-40} inset;
  --wxc-options-list-item--focus--outline: 2px solid #{$wxc-blue-40-alpha-30};

  --wxc-options-list-item--selected--color:  #{$wxc-blue-40};

  --wxc-scrollbar-thumb: #{$wxc-white-alpha-11};

  --wxc-hyperlink--normal--color: #{$wxc-blue-40};
  --wxc-hyperlink--hover--color: #{$wxc-blue-20};
  --wxc-hyperlink--active--color:#{$wxc-blue-20};

  --wxc-tooltip-background: #{$wxc-black-alpha-100};
  --wxc-tooltip-border: 1px solid #{$wxc-white-alpha-20};
  --wxc-tooltip-border-color: #{$wxc-white-alpha-20};

  --wxc-adaptive-cards--background-color--default: #{$wxc-gray-95};
  --wxc-adaptive-cards--background-color--emphasis: #{$wxc-gray-80};
  --wxc-adaptive-cards--background-color--accent: #{$wxc-blue-80};
  --wxc-adaptive-cards--background-color--good: #{$wxc-green-80};
  --wxc-adaptive-cards--background-color--attention: #{$wxc-red-80};
  --wxc-adaptive-cards--background-color--warning: #{$wxc-yellow-80};

  --wxc-adaptive-cards--separator-color: #{$wxc-black-alpha-60};

  --wxc-adaptive-cards--color--default: #{$wxc-white-alpha-95};
  --wxc-adaptive-cards--color--dark: #{$wxc-white-alpha-95};
  --wxc-adaptive-cards--color--light: #{$wxc-white-alpha-70};
  --wxc-adaptive-cards--color--accent: #{$wxc-blue-40};
  --wxc-adaptive-cards--color--good: #{$wxc-green-40};
  --wxc-adaptive-cards--color--warning: #{$wxc-yellow-40};
  --wxc-adaptive-cards--color--attention: #{$wxc-red-40};

  --wxc-adaptive-cards--subtle-color--default: #{$wxc-white-alpha-70};
  --wxc-adaptive-cards--subtle-color--dark: #{$wxc-white-alpha-70};
  --wxc-adaptive-cards--subtle-color--light: #{$wxc-white-alpha-60};
  --wxc-adaptive-cards--subtle-color--accent: #{$wxc-blue-30};
  --wxc-adaptive-cards--subtle-color--good: #{$wxc-green-30};
  --wxc-adaptive-cards--subtle-color--warning: #{$wxc-yellow-30};
  --wxc-adaptive-cards--subtle-color--attention: #{$wxc-red-30};

  --wxc-adaptive-cards--highlight-color: #{$wxc-gray-40};
}
