.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-theme-dark {
  --wxc-meeting-background: #{$wxc-gradation-webex-dark-primary};
  --wxc-text-color: #{$wxc-white-alpha-100};
  
  --wxc-icon--color: #{$wxc-white-alpha-100};
  --wxc-icon--active-color: #{$wxc-green-50};
  --wxc-icon--muted-color: #{$wxc-red-50};

  .wxc-old-icon { display: none; }
  .wxc-icon { display: block; }
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-theme-dark {
  .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-member-roster .title {
    display: block;
  }
}
