:root {
  --wxc-meeting-background: transparent;
  --wxc-text-color: #{$wxc-black-alpha-100};
  --wxc-meeting-border: none;
  --wxc-meeting-box-shadow: none;

  --wxc-banner-background: #{rgba($wxc-gray-70, .5)};
  --wxc-banner-text-color: #{$wxc-white-alpha-100};

  --wxc-modal-background: #{$wxc-white-alpha-100};
  --wxc-modal-border: 1px solid #{$wxc-black-alpha-11};
  --wxc-video-background: transparent;
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-member-roster .title { display: none; }
.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-banner.my-preview { display: none; }
.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-old-icon { display: block; }
.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-icon { display: none; }
