:root {
  --wxc-meeting-background: transparent;
  --wxc-text-color: #{$wxc-black-alpha-100};
  --wxc-secondary-text-color: #{$md-gray-90};
  --wxc-video-background: transparent;
  --wxc-meeting-border: none;
  --wxc-meeting-box-shadow: none;

  --wxc-banner-background: #{rgba($wxc-gray-70, .5)};
  --wxc-banner-text-color: #{$wxc-white-alpha-100};

  --wxc-modal--background: #{$wxc-white-alpha-100};
  --wxc-modal--border: 1px solid #{$wxc-black-alpha-11};

  --wxc-spinner-circle-color: #{$md-gray-40};
  --wxc-spinner-moving-color: #{$md-black-100};
}

// temporary logic for legacy
.wxc-member-roster .title { display: none; }
.wxc-banner.my-preview { display: none; }
.wxc-old-icon { display: block; }
.wxc-icon { display: none; }
.wxc-member-roster .title { display: none; }
.wxc-old-button { display: block; }
.wxc-button { display: none; }
.wxc-old-icon { display: block; }
.wxc-icon { display: none; }
.wxc-in-meeting { background: black; }
.wxc-tabs {
  .tabs-list {
    border-bottom: 1px solid $md-gray-30;
    padding: 0 1.2rem;
    .tab.active > button {
      border-bottom: 2px solid black;
      border-radius: unset;
    }
  }
}

.wxc-avatar { display: none; }
