:root {
  --wxc-meeting-background: transparent;
  --wxc-text-color: #{$wxc-black-alpha-100};
  --wxc-meeting-border: none;
  --wxc-meeting-box-shadow: none;

  --wxc-modal-background: #{$wxc-white-alpha-100};
  --wxc-modal-border: 1px solid #{$wxc-black-alpha-11};
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-member-roster .title {
  display: none;
}
.wxc-old-icon { display: block; }
.wxc-icon { display: none; }
