:root {
  --wxc-meeting-background: transparent;
  --wxc-loading-logo: url(../../src/themes/dark/loading.gif);
  --wxc-text-color: #{$wxc-black-alpha-100};
  --wxc-secondary-text-color: #{$md-gray-90};
  --wxc-warning-color: #{$md-yellow-40};
  --wxc-muted-color: transparent;
  --wxc-unmuted-color: transparent;
  --wxc-video-background: transparent;
  --wxc-meeting-border: none;
  --wxc-box-shadow: none;

  --wxc-badge-background: #949494;
  --wxc-badge-border: 0;
  --wxc-badge-text-color: #fff;
  --wxc-badge-box-shadow: none;

  --wxc-banner--bottom--background: #{$wxc-gray-40};

  --wxc-modal--background: #{$wxc-white-alpha-100};
  --wxc-modal--border: 1px solid #{$wxc-black-alpha-11};

  --wxc-spinner-circle-color: #{$md-gray-40};
  --wxc-spinner-moving-color: #{$md-black-100};

  --wxc-select--normal--background: #{$wxc-white-alpha-100};
  --wxc-select--normal--color: #{$wxc-black-alpha-60};
  --wcx-select--normal--border: 1px solid #{$wxc-black-alpha-50};

  --wxc-select--hover--background: #{$wxc-black-alpha-04};

  --wxc-select--active--background: #{$wxc-black-alpha-11};
  --wxc-select--active--color: #{$wxc-black-alpha-95};

  --wxc-select--disabled--background: #{$wxc-black-alpha-11};
  --wxc-select--disabled--color: #{$wxc-black-alpha-40};

  --wxc-select--focus--color: #{$wxc-black-alpha-95};
  --wxc-select--focus--border: 1px solid #{$wxc-blue-60};

  --wxc-options-list--normal--border: 1px solid #{$wxc-black-alpha-20};
  --wxc-options-list--normal--background: #{$wxc-white-alpha-100};

  --wxc-options-list-item--hover--background: #{$wxc-black-alpha-04};

  --wxc-options-list-item--active--background: #{$wxc-black-alpha-11};

  --wxc-options-list-item--focus--border: 1px solid #{$wxc-blue-60};

  --wxc-options-list-item--selected--color:  #{$wxc-blue-40};
}

// temporary logic for legacy
.wxc-member-roster .title { display: none; }
.wxc-interstitial-meeting .wxc-banner { display: none; }
.wxc-icon { display: none; }
.wxc-member-roster .title { display: none; }
.wxc-old-button { display: block; }
.wxc-button { display: none; }
.wxc-old-icon { display: block; }
.wxc-icon { display: none; }
.wxc-in-meeting { background: black; }
.wxc-tabs {
  .tabs-list {
    border-bottom: 1px solid $md-gray-30;
    padding: 0 1.2rem;
    .tab.active > button {
      border-bottom: 2px solid black;
      border-radius: unset;
    }
  }
}

.wxc-avatar { display: none; }
.wxc-member .icon-microphone_16 { display: none; }
