.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-theme-light {
  --wxc-meeting-background: #{$wxc-gradation-webex-light-primary};
  --wxc-text-color: #{$wxc-black-alpha-100};
  // Icons
  --wxc-icon--audio-microphone--active-color: #{$wxc-green-50};
  --wxc-icon--audio-microphone--color: #{$wxc-black-alpha-100};
  --wxc-icon--audio-microphone-muted--color: #{$wxc-red-60};
  --wxc-icon--camera--active-color: #{$wxc-green-50};
  --wxc-icon--camera-muted--color: #{$wxc-red-60};
  --wxc-icon--camera--color: #{$wxc-black-alpha-100};
  --wxc-icon--settings--color: #{$wxc-black-alpha-100};
  --wxc-icon--share-screen--color: #{$wxc-black-alpha-100};
  --wxc-icon--cancel--color: #{$wxc-black-alpha-100};
  --wxc-icon--participant-list--color: #{$wxc-black-alpha-100};

  .wxc-old-icon { display: none; }
  .wxc-icon { display: block; }
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-theme-light {
  .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-member-roster .title {
    display: block;
  }
}
