.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-theme-light {
  --wxc-meeting-background: linear-gradient(180deg, #F0F0F0 0%, #FFFFFF 100%);
  --wxc-text-color: rgba(0, 0, 0, 0.95);
  // Icons
  --wxc-icon--audio-microphone--active-color: #27A17A;
  --wxc-icon--audio-microphone--color: #000;
  --wxc-icon--audio-microphone-muted--color: #DB1F2E;
  --wxc-icon--camera--active-color: #27A17A;
  --wxc-icon--camera-muted--color: #DB1F2E;
  --wxc-icon--camera--color: #000;
  --wxc-icon--settings--color: #000;
  --wxc-icon--share-screen--color: #000;
  --wxc-icon--cancel--color: #000;
  --wxc-icon--participant-list--color: #000;

  .wxc-old-icon { display: none; }
  .wxc-icon { display: block; }
}

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-theme-light {
  .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-member-roster .title {
    display: block;
  }
}
