.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-member-roster {
  .section-title {
    @include body-fonts;
    color: $md-gray-40;
    border-bottom: 0.1rem solid $md-gray-30;
  }

  .external-user-warning {
    color: $md-yellow-40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0 0.25rem 0;

    h5 {
      margin-left: 0.625rem;
    }
  }

  .title {
    font-family: $brand-font-bold;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--wxc-text-color);
  }
}
