$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-member-roster;

.#{$C} {
  display: flex;
  flex-direction: column;

  color: var(--wxc-text-color);
  background: var(--wxc-secondary-background);
  border-radius: 0.5rem 0 0 0;
  padding: 0.625rem 0 0.625rem 0.75rem;


  .#{$C}__section-title {
    color: var(--wxc-secondary-text-color);
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0;
    letter-spacing: normal;
    padding: 0.438rem 0 0.188rem 0;
  }

  .#{$C}__external-user-warning {
    color: var(--wxc-warning-color);
    display: flex;
    align-items: flex-start;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-top: 0.75rem;

    .#{$C}__external-user-icon {
      margin-right: 0.578rem;
    }

    .#{$C}__external-user-message {
      flex: 1;
    }
  }

  .#{$C}__header {
    display: flex;
    align-items: center;
    padding-right: 0.375rem;

    .#{$C}__title {
      font-family: $brand-font-bold;
      margin: 0;
      flex: 1;
    }
  }

  .#{$C}__members {
    overflow-y: auto;
    flex: 1;
    padding-right: 1.25rem;
    scrollbar-width: thin;  //works only for Firefox
  }

  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--wxc-scrollbar--thumb);
    border-radius: 1rem;
  }
}
