$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-avatar;

.#{$C} {
  width: 4rem;
  height: 4rem;

  display: block;

  .#{$C}__content {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .#{$C}__image-error {
    display: none;
  }

  .#{$C}__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    width: calc(100% - 1px);
    height: calc(100% - 1px);

    font-size: 0.875rem;
    color: var(--wxc-avatar--text-color);

    text-anchor: middle;
    dominant-baseline: middle;
    fill: currentColor;

    position: absolute;
  }

  .#{$C}__image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .#{$C}__status-icon-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    left: 62.5%;
    right: -12.5%;
    top: 56.25%;
    bottom: -6.25%;

    border-radius: 50%;

    background: var(--wxc-icon--background);

    .#{$C}__status-icon {
      width: 80%;
      height: 80%;
    }
  }

  .#{$C}__bot-badge {
    position: absolute;

    background-color: var(--wxc-avatar--bot-status-color);

    left: -5%;
    top: 72%;

    border-radius: 999rem;

    width: 75%;
    height: 37%;

    text-anchor: middle;
    dominant-baseline: middle;
    fill: var(--wxc-avatar--text-color);
  }

  .#{$C}__self-icon {
    z-index: 1;

    width: 70%;
    height: 80%;

    color: var(--wxc-avatar--self-status-color);
  }

  &--avatar-self {
    border: 1px solid var(--wxc-avatar--self-status-border);
    border-radius: 50%;
  }

  .#{$C}__status-active { color: var(--wxc-person-status--active-color); }
  .#{$C}__status-call { color: var(--wxc-person-status--in-a-meeting-color); }
  .#{$C}__status-meeting { color: var(--wxc-person-status--in-a-meeting-color); }
  .#{$C}__status-dnd { color: var(--wxc-person-status--dnd-color); }
  .#{$C}__status-presenting { color: var(--wxc-person-status--dnd-color); }
  .#{$C}__status-inactive { color: var(--wxc-person-status--away-color); }
  .#{$C}__status-ooo { color: var(--wxc-person-status--away-color); }

  .#{$C}__placeholder-1 { background: var(--wxc-avatar--placeholder-1--background); }
  .#{$C}__placeholder-2 { background: var(--wxc-avatar--placeholder-2--background); }
  .#{$C}__placeholder-3 { background: var(--wxc-avatar--placeholder-3--background); }
  .#{$C}__placeholder-4 { background: var(--wxc-avatar--placeholder-4--background); }
  .#{$C}__placeholder-5 { background: var(--wxc-avatar--placeholder-5--background); }
  .#{$C}__placeholder-6 { background: var(--wxc-avatar--placeholder-6--background); }
  .#{$C}__placeholder-7 { background: var(--wxc-avatar--placeholder-7--background); }
  .#{$C}__placeholder-8 { background: var(--wxc-avatar--placeholder-8--background); }
  .#{$C}__placeholder-9 { background: var(--wxc-avatar--placeholder-9--background); }
  .#{$C}__placeholder-10 { background: var(--wxc-avatar--placeholder-10--background); }
  .#{$C}__placeholder-11 { background: var(--wxc-avatar--placeholder-11--background); }
}
