.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-media {
  min-width: $WEBEX_MEETING_MIN_WIDTH;
  background: var(--wxc-video-background);
  border-radius: 0.5rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .media-error {
    font-family: $brand-font-bold;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: var(--wxc-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .media-error-icon {
    margin-bottom: 1.234rem;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .connecting-spinner {
    margin-right: .6875rem;
  }

  &.remote-video-n-share {
    .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-video {
      @include media-preview-mobile();
    }

    .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-share {
      flex-grow: 1;
    }
  }


  &-tablet {
      &.remote-video-n-share {
      .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-video {
        @include media-preview-tablet();
      }
    }
  }

  &-desktop {
    &.remote-video-n-share {
     .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-video {
        @include media-preview-tablet();
      }
    }
  }

  &-desktop-xl {
    &.remote-video-n-share {
     .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-video {
        @include media-preview-desktop-xl();
      }
    }
  }
}
