.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-media {
  min-height: $WEBEX_MEETING_MIN_HEIGHT;
  min-width: $WEBEX_MEETING_MIN_WIDTH;
  background: white;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .md-alert-banner {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .md-badge {
    margin: auto;
    padding: 0.4rem;

    div {
      margin-left: 0.4rem;
    }
  }

  video {
    height: 100%;
    width: 100%;
  }

  &.remote-video-n-share {
    .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-video {
      @include media-preview-mobile();
    }

    .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-share {
      flex-grow: 1;
    }
  }


  &-tablet {
      &.remote-video-n-share {
      .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-video {
        @include media-preview-tablet();
      }
    }
  }

  &-desktop {
    &.remote-video-n-share {
     .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-video {
        @include media-preview-tablet();
      }
    }
  }

  &-desktop-xl {
    &.remote-video-n-share {
     .#{$WEBEX_COMPONENTS_CLASS_PREFIX}-remote-video {
        @include media-preview-desktop-xl();
      }
    }
  }
}
