.remote-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .md-badge {
    margin: auto;
    padding: 0.4rem;

    div {
      margin-left: 0.4rem;
    }
  }

  video {
    height: 100%;
    width: 100%;
  }
}
