$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-container;

.#{$C} {
  background-color: var(--wxc-adaptive-cards--background-color--default);

  &__style{
    &--emphasis { background-color: var(--wxc-adaptive-cards--background-color--emphasis); }
    &--accent { background-color: var(--wxc-adaptive-cards--background-color--accent) ;}
    &--good { background-color: var(--wxc-adaptive-cards--background-color--good); }
    &--attention { background-color: var(--wxc-adaptive-cards--background-color--attention); }
    &--warning { background-color: var(--wxc-adaptive-cards--background-color--warning); }
  }
}
