.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-meeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 100%;
  width: 100%;
  min-height: $WEBEX_MEETING_MIN_HEIGHT;
  min-width: $WEBEX_MEETING_MIN_WIDTH;

  background: var(--wxc-meeting-background);
}
