.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-meeting {
  min-height: $WEBEX_MEETING_MIN_HEIGHT;
  min-width: $WEBEX_MEETING_MIN_WIDTH;
  color: var(--wxc-text-color);
  background: var(--wxc-primary-background);
  border: var(--wxc-meeting-border);
  box-shadow: var(--wxc-meeting-box-shadow);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.roster-only {
    .inner-meeting {
      display: none;
    }
    .member-roster {
      flex: 1;
    }
  }

  .centered {
    margin: auto;
    text-align: center;
  }

  .loading-logo {
    background: var(--wxc-loading-logo) no-repeat center;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .body {
    flex: 1;
    min-height: 0;

    position: relative;
    display: flex;
    align-items: stretch;
  }

  .inner-meeting {
    flex: 1;
    min-width: 0;
    margin-bottom: 1rem;
  }

  .member-roster {
    width: 20rem;
    margin: 0 -1rem 0 0.5rem;
  }

  .control-bar {
    margin-bottom: 1.5rem;
  }

  .media-state-toast {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    white-space: nowrap;
  }

  .settings .modal-content {
    width: 75%;
    max-width: 60rem;
    min-width: 25rem;
    height: 75%;
    max-height: 60rem;
    min-height: 25rem;
  }
}
