.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-meeting {
  min-height: $WEBEX_MEETING_MIN_HEIGHT;
  min-width: $WEBEX_MEETING_MIN_WIDTH;
  background: var(--wxc-meeting-background);

  display: flex;
  flex-direction: column;
  align-items: stretch;

  .centered {
    margin: auto;
  }

  .body {
    flex: 1;
    min-height: 0;

    display: flex;
    align-items: stretch;
  }

  .inner-meeting {
    flex: 1;
    min-width: 0;
  }

  .member-roster {
    width: 20rem;
    padding: 0.625rem;
  }

  .control-bar {
    overflow: hidden;
  }
}
