.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-meeting {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: $WEBEX_MEETING_MIN_HEIGHT;
  min-width: $WEBEX_MEETING_MIN_WIDTH;

  .meeting-body {
    flex: 1;
    min-height: 0;
    display: flex;
  }

  .meeting-controls-container {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .meeting-controls-left {
    flex: 1;
  } 

  .meeting-controls-center {
    display: flex;
    align-items: center;
  }

  .meeting-controls-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  } 

  &-active  {
    .meeting-controls {
      .md-button {
        display: none;
      }

      // Display active controls
      .md-button--red {
        display: block;

        background-color: rgba($color: #A12C23, $alpha: 0.4);
        border: solid 1px #D93829;
        color: #D93829;

        // Assumes "leave" is last child
        &:last-child {
          display: none;
        }
      }
    }
  }

  &-active:hover, &-active:active {
    .meeting-controls {
      .md-button {
        display: block;
      }

      .md-button--red {
        background: #FF5C4A;
        border-color: transparent;
        color: #FFFFFF;
      }
    }
  }
}
