.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-meeting {
  min-height: $WEBEX_MEETING_MIN_HEIGHT;
  min-width: $WEBEX_MEETING_MIN_WIDTH;
  background: var(--wxc-meeting-background);
  border: var(--wxc-meeting-border);
  box-shadow: var(--wxc-meeting-box-shadow);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.roster-only {
    .inner-meeting {
      display: none;
    }
    .member-roster {
      flex: 1;
    }
  }

  .centered {
    margin: auto;
  }

  .body {
    flex: 1;
    min-height: 0;

    display: flex;
  }

  .inner-meeting {
    flex: 1;
    min-width: 0;
    margin-bottom: 1rem;
  }

  .member-roster {
    width: 20rem;
    margin: 0 -1rem 0 0.5rem;
  }

  .control-bar {
    overflow: hidden;
    margin-bottom: 1.5rem;
  }
}
