$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-input-field;

.#{$C} {
  display: flex;
  flex-direction: column;
  position: relative;

  .#{$C}__form-control {
    position: relative;
    display: flex;
  }

  .#{$C}__input {
    font-family: #{$brand-font-regular};
    font-size: 1rem;
    line-height: 1.5rem;
    background: var(--wxc-input-field--normal--background);
    border: var(--wxc-input-field--normal--border);
    color: var(--wxc-input-field--normal--color);
    border-radius: 0.5rem;
    padding: 0.313rem 0.75rem 0.063rem 0.75rem;
    width: 100%;

    &[type="number"] {
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }

      &:hover::-webkit-inner-spin-button,
      &:hover::-webkit-outer-spin-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    &:hover {
      background: var(--wxc-input-field--hover--background);
    }

    &:active {
      background: var(--wxc-input-field--active--background);
      border: var(--wxc-input-field--active--border);
      box-shadow: var(--wxc-input-field--active--box-shadow);
    }

    &:focus {
      background: var(--wxc-input-field--focus--background);
      border: var(--wxc-input-field--focus--border);
      color: var(--wxc-input-field--focus--color);
      box-shadow: var(--wxc-input-field--focus--box-shadow);
      outline: none;
    }

    &:disabled {
      background: var(--wxc-input-field--disabled--background);
      border: var(--wxc-input-field--disabled--border);
      color: var(--wxc-input-field--disabled--color);
    }
  }

  &--error {
    .#{$C}__input {
      background: var(--wxc-error-input-field--normal--background);
      border: var(--wxc-error-input-field--normal--border);
      box-shadow: none;
      color: var(--wxc-text-color);

      &:hover {
        background: var(--wxc-input-field--hover--background);
        border: var(--wxc-error-input-field--normal--border);
        box-shadow: none;
      }

      &:active {
        background: var(--wxc-input-field--active--background);
        border: var(--wxc-error-input-field--normal--border);
        box-shadow: none;
      }

      &:focus {
        background: var(--wxc-input-field--focus--background);
        border: var(--wxc-error-input-field--normal--border);
        box-shadow: none;
        outline: none;
      }
    }
  }

  .#{$C}__right-icon {
    position: absolute;
    color: var(--wxc-input-icon-color);
    top: 50%;
    right: 2px;
    transform: translateY(-50%);

    &:not(:last-child) {
      right: 2rem;
    }
  }

  &--has-right-icon {
    .#{$C}__input{
      padding-right: 1.875rem;
    }
  }

  &--has-right-controls {
    .#{$C}__input{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
