.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-input-field {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.25rem;
    margin-left: 0.75rem;
    font-size: 0.875rem;
    color: var(--wxc-input--label--color);
  }

  input {
    all: unset;
    background: var(--wxc-input--normal--background);
    border: var(--wcx-input--normal--border);
    color: var(--wxc-input--normal--color);
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    cursor: pointer;

    &:hover {
      background: var(--wxc-input--hover--background);
    }

    &:active {
      background: var(--wxc-input--active--background);
      border: var(--wxc-input--active--border);
      box-shadow: var(--wxc-input--active--box-shadow);
    }

    &:focus {
      background: var(--wxc-input--focus--background);
      border: var(--wxc-input--focus--border);
      color: var(--wxc-input--focus--color);
      box-shadow: var(--wxc-input--focus--box-shadow);
    }

    &:disabled {
      background: var(--wxc-input--disabled--background);
      border: var(--wxc-input--disabled--border);
      color: var(--wxc-input--disabled--color);
    }
  }
}
