$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-dropdown;

.#{$C} {
  &__control {
    position: relative;
  }

  .#{$C}__selected-option {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.375rem 0.75rem;

    .#{$C}__label {
      flex: 1;
      display: block;
      margin-right: 0.25rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &:not(.#{$C}--disabled) {
    .#{$C}__selected-option {
      background: var(--wxc-dropdown--normal--background);
      border: var(--wxc-dropdown--normal--border);
      box-shadow: var(--wxc-dropdown--normal--box-shadow);
      color: var(--wxc-dropdown--normal--color);
      outline: var(--wxc-dropdown--normal--outline);
      cursor: pointer;

      &.#{$C}__expanded {
        background: var(--wxc-dropdown--active--background);
        border: var(--wxc-dropdown--active--border);
        box-shadow: var(--wxc-dropdown--active--box-shadow);
        color: var(--wxc-dropdown--active--color);
        outline: var(--wxc-dropdown--active--outline);

        &:focus {
          background: var(--wxc-dropdown--active--background);
        }
      }

      &:hover {
        background: var(--wxc-dropdown--hover--background);
        border: var(--wxc-dropdown--hover--border);
        box-shadow: var(--wxc-dropdown--hover--box-shadow);
        color: var(--wxc-dropdown--hover--color);
        outline: var(--wxc-dropdown--hover--outline);
      }

      &:active {
        background: var(--wxc-dropdown--active--background);
        border: var(--wxc-dropdown--active--border);
        box-shadow: var(--wxc-dropdown--active--box-shadow);
        color: var(--wxc-dropdown--active--color);
        outline: var(--wxc-dropdown--active--outline);
      }

      &:focus {
        background: var(--wxc-dropdown--focus--background);
        border: var(--wxc-dropdown--focus--border);
        box-shadow: var(--wxc-dropdown--focus--box-shadow);
        color: var(--wxc-dropdown--focus--color);
        outline: var(--wxc-dropdown--focus--outline);
      }
    }
  }

  &--disabled {
    .#{$C}__selected-option {
      background: var(--wxc-dropdown--disabled--background);
      border: var(--wxc-dropdown--disabled--border);
      box-shadow: var(--wxc-dropdown--disabled--box-shadow);
      color: var(--wxc-dropdown--disabled--color);
      outline: var(--wxc-dropdown--disabled--outline);
      cursor: default;
    }
  }
}
