$shadow-offset: 0.25rem;
$shadow-blur: 1rem;
$shadow-spread: -0.125rem;
$shadow-color: rgba(0, 0, 0, 0.2);

.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-in-meeting {
  position: relative;
  background: black;
  flex: 1;

  &.remote-sharing {
    .local-media-in-meeting {
      display: none;
    }
  }

  .local-media-in-meeting {
    @include media-preview-mobile();

    min-width: auto;
    min-height: auto;

    .md-avatar {
      transform: none; // Avatar is 40x40px, resets any transforms
    }
  }

  &-tablet {
    .local-media-in-meeting {
      @include media-preview-tablet();

      .md-avatar {
        transform: scale(2); // Avatar is 40x40px, this makes it 80x80px
      }
    }
  }

    &-desktop {
    .local-media-in-meeting {
      @include media-preview-tablet();

      .md-avatar {
        transform: scale(2); // Avatar is 40x40px, this makes it 120x120px
      }
    }
  }

  &-desktop-xl {
    .local-media-in-meeting {
      @include media-preview-desktop-xl();

      .md-avatar {
        transform: scale(3); // Avatar is 40x40px, this makes it 120x120px
      }
    }
  }
}
