$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-in-meeting;

$shadow-offset: 0.25rem;
$shadow-blur: 1rem;
$shadow-spread: -0.125rem;
$shadow-color: rgba(0, 0, 0, 0.2);

.#{$C} {
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;

  &--remote-sharing {
    .#{$C}__local-media-in-meeting {
      display: none;
    }
  }

  .#{$C}__media-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
  }

  .#{$C}__share-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .#{$C}__remote-media-in-meeting {
    flex: 1;
    min-height: 0;
  }

  .#{$C}__local-media-in-meeting {
    @include media-preview-mobile();

    height: 5.625rem;
    width: 10rem;
    min-width: auto;
    min-height: auto;
    background: var(--wxc-secondary-video-background);
  }
  .#{$C}__info {
    margin-bottom: 1rem;
  }
  
  &--tablet {
    .#{$C}__local-media-in-meeting {
      @include media-preview-tablet();
    }
  }

  &--desktop {
    .#{$C}__local-media-in-meeting {
      @include media-preview-tablet();
    }
  }

  &--desktop-xl {
    .#{$C}__local-media-in-meeting {
      @include media-preview-desktop-xl();
    }
  }
}
