.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-local-media {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  min-height: 7.5rem; // Smallest height for local media is the tallest an avatar can get through transforms
  min-width: 7.5rem; // Smallest width for local media is the widest an avatar can get through transforms
  background: var(--wxc-video-background);
  border-radius: 0.5rem;

  .my-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  video {
    height: 100%;
    width: 100%;
  }

  .md-avatar {
    transform: scale(2); // Avatar is 40x40px, this makes it 80x80px
    transform-origin: center center;
  }

  &-desktop {
    .md-avatar {
      transform: scale(3); // Avatar is 40x40px, this makes it 120x120px
    }
  }
}
