.local-media {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  background: black;

  video {
    height: 100%;
    width: 100%;
  }

  .md-avatar {
    width: 6.25rem !important;
    height: 6.25rem !important;
  }
}

.no-media {
  background: white;
}