.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-banner {
  display: flex;
  justify-content: center;
  color: var(--wxc-text-color);
  font-family: $brand-font-regular;
  font-size: 1rem;
  position: absolute;
  right: 0;
  left: 0;

  &.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-banner--top {
    top: 0;
    background: var(--wxc-banner--top--background);
    padding: 0.75rem 0 5.25rem 0;
  }

  &.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-banner--bottom {
    bottom: 0;
    background: var(--wxc-banner--bottom--background);
    padding: 0.75rem 0;
  }
}
