$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-banner;

.#{$C} {
  display: flex;
  justify-content: center;
  color: var(--wxc-text-color);
  position: absolute;
  right: 0;
  left: 0;

  &--top {
    top: 0;
    background: var(--wxc-banner--top--background);
    padding: 0.75rem 0 5.25rem 0;
  }

  &--bottom {
    bottom: 0;
    background: var(--wxc-banner--bottom--background);
    padding: 0.75rem 0;
  }
}
