$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-meeting-control;

.#{$C} {
  display: inline-block;
  color: var(--wxc-text-color);

  &--as-item {
    display: flex;
    align-items: baseline;

    .#{$C}__item-button-icon {
      position: relative;
      top: 0.0625rem;
    }

    .#{$C}__item-button-text {
      flex: 1;
      margin-left: 0.75rem;
      line-height: 150%;
    }
  }

  .#{$C}__button-text {
    position: relative;
    top: 0.125rem;
    white-space: nowrap;
  }

  .#{$C}__button-text:not(:first-child) {
    margin-left: 0.375rem;
  }

  .#{$C}__control-button { flex: 1; }

  .#{$C}__control-select { flex: 1; }

  .#{$C}__as-item {
    &:hover {
      background: transparent;
    }
  }
}
