.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-media-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--wxc-text-color);

  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  .title {
    margin-top: 0.688rem;
    font-size: 1rem;
    font-family: #{$brand-font-bold};
  }

  .body {
    color: var(--wxc-secondary-text-color);
    margin-top: 0.5rem;
    margin-bottom: 2.25rem;
    max-width: 21.875rem;
    text-align: center;

    .allow {
      font-family: #{$brand-font-bold};
    }
  }
}
