$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-media-access;

.#{$C} {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--wxc-primary-background);
  color: var(--wxc-text-color);

  .#{$C}__logo-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  .#{$C}__title {
    margin-top: 0.5rem;
  }

  .#{$C}__body {
    color: var(--wxc-secondary-text-color);
    margin-top: 0.5rem;
    margin-bottom: 2.25rem;
    max-width: 25rem;
    text-align: center;
    font-size: 0.875rem;

    .#{$C}__allow {
      font-family: #{$brand-font-bold};
    }
  }
}

