$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-adaptive-cards-column-set;

.#{$C}__style {
  &--default { background-color: var(--wxc-adaptive-cards--background-color--default); }
  &--emphasis { background-color: var(--wxc-adaptive-cards--background-color--emphasis); }
  &--good { background-color: var(--wxc-adaptive-cards--background-color--good); }
  &--attention { background-color: var(--wxc-adaptive-cards--background-color--attention); }
  &--warning { background-color: var(--wxc-adaptive-cards--background-color--warning); }
  &--accent { background-color: var(--wxc-adaptive-cards--background-color--accent); }
}
