@import 'AudioMicrophoneMutedIcon';
@import 'CameraMutedIcon';

.wxc-icon {
  fill: currentColor;

  :disabled &, [wxc-disabled] & {
    path { fill: currentColor; }
  }

  .accent {
    fill: var(--wxc-icon--accent-color);

    :disabled &, [wxc-disabled] & {
      display: none;
    }
  }

}
