.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-audio-microphone-icon {
  path:nth-child(2) { fill: var(--wxc-icon--active-color); }
  rect { fill: var(--wxc-icon--active-color); }

  &#{&}-indicator { 
    fill: var(--wxc-icon--active-color);
  }
}
