$C: #{$WEBEX_COMPONENTS_CLASS_PREFIX}-toggle;

.#{$C} {
  display: flex;
  align-items: center;
  cursor: pointer;

  .#{$C}__title {
    color: var(--wxc-text-color);
    margin-left: 0.5rem;
  }

  .#{$C}__switch {
    @include focusable;
    position: relative;
    width: 2.75rem;
    height: 1.375rem;
    padding: 0.375rem;
    border-radius: 0.688rem;

    .#{$C}__slider {
      position: absolute;
      width: 22.73%;
      height: 45.46%;
      top: 27.37%;
      border-radius: 50%;
    }

    &--on .#{$C}__slider { left: 63.64%; }

    &--off .#{$C}__slider { left: 13.63%; }

    &--enabled {
      &.#{$C}__switch--on {
        background-color: var(--wxc-input--on--normal--background);

        .#{$C}__slider {
          background-color: var(--wxc-input--on--normal--foreground);
        }

        &:hover {
          background-color: var(--wxc-input--on--hover--background);
        }

        &:active {
          background-color: var(--wxc-input--on--active--background);
        }
      }

      &.#{$C}__switch--off {
        background-color: var(--wxc-input--off--normal--background);

        .#{$C}__slider {
          background-color: var(--wxc-input--off--normal--foreground);
        }

        &:hover {
          background-color: var(--wxc-input--off--hover--background);
        }

        &:active {
          background-color: var(--wxc-input--off--active--background);
        }
      }
    }

    &--disabled {
      cursor: default;

      &.#{$C}__switch--on {
        background-color: var(--wxc-input--on--disabled--background);

        .#{$C}__slider {
          background-color: var(--wxc-input--on--disabled--foreground);
        }
      }

      &.#{$C}__switch--off {
        background-color: var(--wxc-input--off--disabled--background);

        .#{$C}__slider {
          background-color: var(--wxc-input--off--disabled--foreground);
        }
      }
    }
  }
}
