.#{$WEBEX_COMPONENTS_CLASS_PREFIX}-adaptive-card {
  background: var(--wxc-primary-background);
  color: var(--wxc-text-color);
  overflow: auto;
  border: var(--wxc-adaptive-cards--card--border);
  border-radius: var(--wxc-adaptive-cards--card--border-radius);
}
