@import 'Badge/Badge';
@import 'Banner/Banner';
@import 'Button/Button';
@import 'InputField/InputField';
@import 'Loader/Loader';
@import 'Modal/Modal';
@import 'OptionsList/Option';
@import 'OptionsList/OptionsList';
@import 'Spinner/Spinner';
@import 'Title/Title';
@import 'Tooltip/Tooltip';

html, body {
  height: 100%;
}

body {
  @include body-fonts;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: auto;
}

img {
  width: 100%;
}
